.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.row, .column {
    gap: 1rem;
}

.padded {
    padding: 1rem;
}

.center {
    align-items: center;
}

.grow {
    flex-grow: 1;
}

.match, .match:hover {
    background-color: var(--colorStatusSuccessBackground1);
    color: var(--colorStatusSuccessForeground1);
}

.non-match, .non-match:hover {
    background-color: var(--colorStatusDangerBackground1);
    color: var(--colorStatusDangerForeground1);
}